body {
	margin: 0;
	padding: 0;
	font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif;

    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font: normal 15px/1.334 "Formular", sans-serif;
	line-height: 1;
	color: #1a1a1a;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: 0;
}

a {
	text-decoration: none;

}

/*первая секция*/

.top-section {
	display: flex;
    flex-direction: column;
	height: 100vh;
	background: url('../img/horizontally/main.jpg') no-repeat center top / cover;
}

.top-section-header {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.top-section-header__title {
	margin: 0;
	font-size: 72px;
	letter-spacing: 0.3em;
}

.top-section-header__description {
	font-size: 24px;
	letter-spacing: 0.3em;
}

.top-section-menu, 
.top-section-tags {
	display: flex;
	justify-content: center;
	list-style-type: none; 
	text-transform: uppercase;
}

.top-section-menu-item__link,
.top-section-tags-item__link {
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.3em;
	padding-right: 10px; 
}

.top-section-menu {
	display: block;
    line-height: 4;
} 

.top-section-tags {
	display: block;
	margin-left: auto;
    line-height: 4;  
}

/*
.top-section-rubrics {
	padding-left: 0;
	list-style-type: none; 
}*/

.top-section-rubrics__link {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.2em;
}

/*вторая секция "Лучшие Публикации"*/

.publications {
	margin: 100px 0 150px;
	color: #1a1a1a;
}

.publications__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.2em;
}

.publications-collections {
	display: flex;
	justify-content: space-around;
    list-style-type: none;
}

.publications-collections-item {
	text-align: center;
}

.publications-collections-item__lead {
    padding-bottom: 120px;
    font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif;
	color: #262626;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 40px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.publications-collections-item-img {
	width: 440px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.publications-collections-item-img__img {
	width: 100%;
    height: auto;
}    
    
/*третья секция "Тест"*/

.test {
	background: url(../img/horizontally/books.jpg) no-repeat center top / cover;
	text-align: center;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.test__text {
	margin: 0;
    padding: 120px;
    font-size: 45px;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*четвертая секция "Тесты/Карточки"*/

.tables-and-cards-collections {
	margin: 100px 0 150px;
	color: #1a1a1a;
}

.tables-and-cards__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.2em;	
}

.tables-and-cards-collections {
	display: flex;
    justify-content: space-between;
    list-style: none;
}

.tables-and-cards-collections-item__title {
	font: normal 15px/1.334 "Formular", sans-serif;
	color: #1a1a1a;
    font-size: 20px;
}

.tables-and-cards-collections-item__title__link {
	text-decoration: none;
}

.tables-and-cards-collections-item__lead {
	font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif;
	color: #262626;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 40px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

/*пятая секция "Двери"*/

.doors__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
}

.doors-list {
	display: flex;
	justify-content: space-between;
}

.doors-list-item__img {
	width: 300px;
    height: 442px;
}

.footer {
	color: #fff;
    background-color: #1f242d;
}

.footer-text {
	margin: 0;
    padding: 50px 0 50px 220px;
    text-align: left;
}

.footer-menu {
	list-style: none;
	margin: 0;
    padding: 50px 0 50px 220px;
    text-align: left;
}

