body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}

/*первая секция*/

.top-section {
	display: flex;
    flex-direction: column;
	height: 100vh;
	background: url('../img/horizontally/main.jpg') no-repeat center top / cover;
}

.top-section-header {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.top-section-header__title {
	margin: 0;
	font-size: 72px;
	letter-spacing: 0.3em;
}

.top-section-header__description {
	font-size: 24px;
	letter-spacing: 0.3em;
}

.top-section-menu, 
.top-section-tags {
	display: flex;
	justify-content: center;
	list-style-type: none; 
	text-transform: uppercase;
}

.top-section-menu-item__link,
.top-section-tags-item__link {
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.3em;
	padding-right: 10px; 
}

.top-section-menu {
	display: block;
    line-height: 4;
} 

.top-section-tags {
	display: block;
	margin-left: auto;
    line-height: 4;  
}

/*
.top-section-rubrics {
	padding-left: 0;
	list-style-type: none; 
}*/

.top-section-rubrics__link {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.2em;
}

/*вторая секция "Лучшие Публикации"*/

.publications {
	color: #1a1a1a;
}

.publications__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	letter-spacing: 0.1em;
}

.publications-collections {
	display: flex;
    list-style-type: none;
}

.publications-collections-item-img {
	width: 240px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.publications-collections-item-img__img {
	width: 100%;
    height: auto;
}    
    
/*третья секция "Тест"*/

.test {
	background-color: #43434D;
	text-align: center;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.tables-and-cards-collections-item__title {
	font: normal 15px/1.334 "Formular", sans-serif;
	line-height: 1;
	color: #1a1a1a;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: 0;
    text-rendering: optimizeLegibility;
}

.tables-and-cards-collections-item__lead {
	font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif;
	color: #262626;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 40px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}
