body {
	margin: 0;
	padding: 0;
	font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif; 
}

h2 {
	font: normal 15px/1.334 "Formular", sans-serif;
	line-height: 1;
	color: #1a1a1a;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

/*первая секция*/

.top-section {
	height: 100vh;
	background: url('../img/horizontally/main.jpg') no-repeat center top / cover;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.top-section-header {
	display: flex;
    flex-direction: column;    
}

.top-section-header__title {
	margin: 0;
	font-size: 72px;
}

.top-section-header__description {
	font-size: 24px;
}

.top-section-menu {
	line-height: 4;
	list-style-type: none;
}

.top-section-menu-item:hover {
    background: #412C84;
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0,1,197,0.45);
}

.top-section-tags {
	line-height: 4;
	list-style-type: none; 
}

.top-section-tags-item:hover {
    background: #412C84;
    color: #fff;
    box-shadow: 12px 12px 65px rgba(0,1,197,0.45);
}

.top-section-menu-item__link,
.top-section-tags-item__link {
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.3em;
}

.top-section-rubrics__link {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.2em;
}

/*вторая секция "Лучшие Публикации"*/

.publications {
	max-width: 1500px;
    margin: 0 auto;
}


.publications__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
    letter-spacing: 0.2em;
}

.publications-collections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.publications-collections-item {
	padding: 10px;
	box-sizing: border-box;
}


.publications-collections-item__lead {
    font-size: 25px;
    line-height: 35px;
}

.publications-collections-item-img {
	width: 440px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.publications-collections-item-img__img {
	width: 100%;
    height: auto;
}    



.publications-left,
.publications-right {
  width: 40px; /* ширина кнопки */
  height: 50px; /* высота кнопки */ 
}
 
/*третья секция "Тест"*/

.test {
	background: url(../img/horizontally/books.jpg) no-repeat center top / cover;
	text-align: center;
}

.test__text {
	margin: 0;
    padding: 120px;
    font-size: 45px;
    color: #fff;
    letter-spacing: 0.2em;
    line-height: normal;
    text-transform: uppercase;
}

.test__start {
	margin: auto 0 50px;
    padding: 17px 40px;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
}

/*четвертая секция "Тесты/Карточки"*/

.cards {
	max-width: 1500px;
    margin: 0 auto;
}

.cards-collections {
	margin: 100px 0 150px;
	color: #1a1a1a;
}

.cards__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
	text-transform: uppercase;
    letter-spacing: 0.2em;	
}

.cards-collections {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

.cards-collections-item {
	margin: 30px;
	background-color: #e4d8d159;
}

.cards-collections-item__title {
	font: bold 15px/1.334 "Formular", sans-serif;
	color: #1a1a1a;
    font-size: 20px;
}

.cards-collections-item__title__link {
	text-decoration: none;
}

.cards-collections-item__lead {
	font: normal 17px/26px "Lava 3", serif, Arial, Helvetica, Geneva, sans-serif;
	color: #262626;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 40px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

/*пятая секция "Двери"*/

.doors {
	max-width: 1500px;
    margin: 0 auto;
}

.doors__title {
	margin: 0;
    padding: 100px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
}

.doors-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

.doors-list-item {
	margin: 50px
}

.doors-list-item__img {
	width: 300px;
    height: 442px;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	color: #fff;
    background-color: #1f242d;
}

.footer__text {
	margin: 0;
    padding: 50px 0 50px 220px;
    text-align: left;
}

.footer__menu {
	list-style: none;
	margin: 0;
    padding: 50px 0 50px 220px;
    text-align: left;
}

.footer__chat {
	padding-left: 220px;
}

.footer__chat__img {
	width: 150px;
    height: auto;
}

.footer__contacts {
	padding: 88px 0 0 220px;
}




