@media screen and (max-width: 1280px) { .top-section {width: 90%;} }
@media screen and (max-width: 1024px) { .top-section {width: 90%;} }
@media screen and (max-width: 768px) { .top-section {width: 90%;} }